<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Halo semua pasti baca ini dulu kan sebelum lanjut scroll ke bawah. Kenalin aku Ahmad Fariz Dwi Putra biasa di panggil Fariz. Aku masih duduk di bangku SMK dengan jurusan RPL lebih jelasnya, Rekayasa Perangkat Lunak. Aku sudah menulis blog mulai kelas 2 SMP di saat waktu waktu kosong, tapi sayang nya dari blog yang pernah aku buat, aku hapus dan cuma menyisakan domain nya saja. Lalu saat ini saya mencoba untuk menulis blog lagi untuk mengisi waktu luang. Jangan lupa untuk mengikuti saya diatas ada logo logo sosmed silahkan dilanjut kesana. Terimakasih sudah membaca soalnya saya bingung mau ngetik apa lagi disini 😄
            </p>
        </div>
    </section>
</div>
